In [1]:
#Importing Necessary Libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import random

In [2]:
#Defining the Path
file_path = r'D:\Kaggle\train.csv\train.csv'

In [3]:
#Reading the Data
df = pd.read_csv(file_path)

In [4]:
#Training data Set lengths(row)
len(df)

37670293

In [5]:
#Dropping the Nulls from column orig_destination_distance
df_distance_drop_na = df.dropna(subset=['orig_destination_distance'])

In [6]:
#df_distance_drop_na data Set lengths(row)
len(df_distance_drop_na)

24145292

In [7]:
#Filtering the Data for users that have made the book
df_filtered_is_book = df_distance_drop_na[df_distance_drop_na['is_booking'] == 1]

In [8]:
#df_distance_drop_na data Set lengths(row)
len(df_filtered_is_book)

1985514

In [9]:
#Creating an attribute using check in and check out information
df_filtered_is_book['srch_ci'] = pd.to_datetime(df_filtered_is_book['srch_ci'])
df_filtered_is_book['srch_co'] = pd.to_datetime(df_filtered_is_book['srch_co'])

df_filtered_is_book['difference_in_days'] = (df_filtered_is_book['srch_co'] - df_filtered_is_book['srch_ci']).dt.days

C:\Users\vaibhav.bodhe\AppData\Local\Temp\ipykernel_11616\2257539474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_is_book['srch_ci'] = pd.to_datetime(df_filtered_is_book['srch_ci'])
C:\Users\vaibhav.bodhe\AppData\Local\Temp\ipykernel_11616\2257539474.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_is_book['srch_co'] = pd.to_datetime(df_filtered_is_book['srch_co'])
C:\Users\vaibhav.bodhe\AppData\Local\Temp\ipykernel_11616\2257539474.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_is_book['difference_in_days'] = (df_filtered_is_book['srch_co'] - df_filtered_is_book['srch_ci']).dt.days

In [10]:
#Extracting Month information from user event date_time 
df_filtered_is_book['date_time'] = pd.to_datetime(df_filtered_is_book['date_time'])
df_filtered_is_book['month'] = df_filtered_is_book['date_time'].dt.month

C:\Users\vaibhav.bodhe\AppData\Local\Temp\ipykernel_11616\3702922986.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_is_book['date_time'] = pd.to_datetime(df_filtered_is_book['date_time'])
C:\Users\vaibhav.bodhe\AppData\Local\Temp\ipykernel_11616\3702922986.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_is_book['month'] = df_filtered_is_book['date_time'].dt.month

In [11]:
#Dropping the unecessary columns
columns_to_drop = ['date_time', 'srch_ci', 'srch_co']
df_filtered_is_book = df_filtered_is_book.drop(columns=columns_to_drop)

In [12]:
df_filtered_is_book

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,difference_in_days,month
1,2,3,66,348,48862,2234.2641,12,0,1,9,...,8250,1,1,1,2,50,628,1,4,8
79,2,3,66,462,41898,2454.8588,1482,0,1,1,...,12009,1,1,1,2,50,680,95,5,1
81,2,3,66,462,41898,2454.8588,1482,0,1,1,...,12009,1,1,1,2,50,680,95,5,1
83,2,3,66,462,41898,2454.8588,1482,0,1,1,...,12009,1,1,1,2,50,680,95,3,1
128,2,3,66,174,40365,8456.8294,1713,0,0,0,...,1571,3,1,1,3,5,89,38,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37670275,2,3,66,174,26232,113.0804,1198182,0,0,0,...,24144,6,1,1,2,50,967,7,1,10
37670277,2,3,66,174,24103,254.2758,1198182,0,0,9,...,24144,6,1,1,2,50,967,42,1,10
37670281,2,3,66,174,26232,535.0339,1198182,0,1,0,...,8273,1,1,1,2,50,660,68,4,1
37670285,2,3,66,174,26232,649.6568,1198182,0,0,0,...,18811,1,1,1,2,50,592,77,1,7
37670292,2,3,66,462,12565,106.4274,1198182,0,0,0,...,18811,1,1,1,2,50,592,42,1,9